<div class="title-block">
    <h3 class="title">
        Страница записей <span class="sparkline bar"></span>
    </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
    <np-loader></np-loader>
</section>

<section class="section" *ngIf="isLoaded" >
    <div class="row">
        <div class="col-md-6">
            <np-add-event [categories]="categories"></np-add-event>
        </div>
        <div class="col-md-6">
            <np-add-category (onCategoryAdd)="newCategoryAdded($event)"></np-add-category>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <np-edit-category [categories]="categories" (onCategoryEdit)="categoryWasEdited($event)"></np-edit-category>
        </div>
    </div>
</section>
